@charset "UTF-8";

body {
	background-color: black;
}

.navegador1 {
	background-color: black;
}

.section {
	display: flex;
	height: 430px;
}

.section .imagen {
	width: 0px;
	flex-grow: 1;
	object-fit: cover;
	opacity: .8;
	transition: .5s ease;

}

.section .imagen:hover {
	cursor: crosshair;
	width: 300px;
	opacity: 1;
	filter: contrast(120%);
}

.carousel {
	opacity: .6;
}

.carousel:hover {
	opacity: 1;
	filter: drop-shadow(5px 5px 20px white);
}


.difuminado {
	opacity: .7;
}

.difuminado:hover {
	opacity: .8;
	box-shadow: (5px 5px 20px white);
}

.final {
	color: white;
}

.menu {
	width: 20px;
}

.tamaño {
	width: 400px;
}

.card-body {
	background-color: darkgrey;
}

.form-label {
	color: white;
	opacity: .9;
}

.form-text {
	color: white;
	opacity: .9;
}

.form-check-label {
	color: white;
	opacity: .9;
}

.listas {
	background-color: grey;
}

.partes:hover {
	background-color: lightblue;
}

.info {
	color: lightblue;
}

.lista_categoria {
	color: white;
	flex-grow: 1;
	list-style: none;
}

.posicion_categoria:hover {
	filter: drop-shadow(0 0 1px white);
}

.blue {
	color: white;
}

/* Esta funcion esta sacada de interner de la siguiente pagina: https://codepen.io/cesarchoqueskater/pen/NBJQdw e insipirada en un video de instagram*/
.motocicletaTran {
	width: 100px;
	animation: slidein 8s infinite;

}

@keyframes slidein {
	from {
		margin-left: 0%;

	}

	to {
		margin-left: 100%;

	}
}

.imagen_moto {
	width: 500px;
	height: 400px;
}

.card {
	width: 500px;
	height: 400px;
	perspective: 1000px;
}

.card-inner {
	width: 100%;
	height: 100%;
	position: relative;
	transform-style: preserve-3d;
	transition: transform 0.999s;
}

.card:hover .card-inner {
	transform: rotateY(180deg);
}

.card-front,
.card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

.card-front {
	display: flex;
	align-items: center;

	justify-content: center;
	font-size: 24px;
	transform: rotateY(0deg);
}

.card-back {
	background-color: black;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	transform: rotateY(180deg);
}

.contenido_motos {
	flex-grow: 1;
}

.lista_propiedades {
	text-align: left;
}

.transladar {
	align-items: center;
}

.lista_categoria2 {
	display: flex;
	flex-grow: 1;
}

.xolumna_lista {
	flex-grow: 1;
}

.tamaño_letra {
	font-size: 30px;
}

.foto_producto {
	width: 80px;
	height: 70px;
}

.w-100 {
	height: 250px;
}

.compra {
	margin-top: 5px;
}

.sinDecorar::marker {
	align-items: center;
	text-align: center;
	justify-content: center;
	content: "";
}